@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  width: 90%;
  box-sizing: border-box;
  background-color: #010010;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: calc(.5em + .5vw );
}